.env
css/*.map
css/*.scss
css/style.css
info/
img/place/*.png
img/place/*.jpg
img/place/*.jpeg
img/place/*.webp
img/accommodation/*.png
img/accommodation/*.jpg
img/accommodation/*.jpeg
img/accommodation/*.webp